@media only screen and (max-width: 700px) {
  body main div {
    width: 90%; /* Adjust width for smaller screens */
  }

  header {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
    display: block;
  }
  #logo {
    display: block;
    margin: 0 auto;
  }
  nav{
    display: block;
    margin: 0 auto;
  }

  .menu {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;

     /* Center menu items */
  }

  .menu li {
    width: auto;
    margin: 0 auto;
    padding: 5px 40px;
    border: 3px solid white;
    text-align: center;
  }

  section {
    flex-direction: column; /* Stack image and content vertically */
    margin-top: 0em;
    margin-left: 0em;
  }

  section img {
    width: 90%; /* Make images fill container width */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto;
    margin-bottom: 1em;
  }

  section div {
    padding: 10px; /* Reduce padding for content */
  }
  .home-container {
    display: flex;
    flex-direction: column;
    background-color: #e4dfdf;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-left:18%;
    margin-right: 18%;
  }
  .home-container {
    display: flex;
    flex-direction: column;
    background-color: #e4dfdf;
    padding: 20px;
    border-radius: 10px;
    margin-left:-3%;
    margin-right: -3%;
  }
  #team-container{
    grid-row: 3;
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    width: 70%;
  }


  #team-container-1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
    width: 70%;
  }
  #team-container-1 .team-member-1{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2em;
    background-color: #e4dfdf;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 5em;
  }
  #team-container-1 .team-member-2{
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2em;
    background-color: #e4dfdf;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 5em;
  }





  .team-member {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2em;
    background-color: #e4dfdf;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 5em;
  }
  .team-member:nth-child(even) img, .team-member:nth-child(odd) img {
    width: 150px;
    height: 100px;
    grid-column: 1;
    margin: 0 auto;
    object-fit: cover;
    transition: box-shadow 0.3s ease;
    border: 3px solid #3399cc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }


  .team-member-1:nth-child(odd) img, .team-member-1:nth-child(even) img , .team-member-2:nth-child(odd) img, .team-member-2:nth-child(even) img {
    width: 150px;
    height: 100px;
    grid-column: 1;
    margin: 0 auto;
    object-fit: cover;
    transition: box-shadow 0.3s ease;
    border: 3px solid #3399cc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  .logo-section{
    display: grid;
    margin: 0 auto;
    text-align: center;
    gap: 0;

  }
  .logo-section a img{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0em;
    padding: 10px;
    margin: 0 auto;
  }
  .logo-section ul{
    display: block;
    padding-left: 0em;
    font-size: 15pt;
    padding: 10px;
    margin-bottom: 10px;
    grid-row: 1;
  }
  .logo-section li{
    padding-left: 0em;
    font-size: 18pt;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid white;
    box-shadow: 2px 2px 45px -8px rgba(0,0,0,0.45);
  }
  footer a{
    color: white;
  }
  .footer-menu{
    grid-column: 1/4;
    grid-row: 1;
  }
  .sm-logos{
   grid-row: 2;
  }
  footer{
    background-color: #3399cc;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
  }
}