body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

body h1 {
  text-align: center;
}

body main div {
  margin: 0 auto;
  width: 75%;
}

body main div h2,
body main div p {
  text-align: center;
}

header {
  background-color: #3399cc;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  background-color: white;
  border-radius: 100%;
  border: 2px solid black;
  padding: 1px 10px;
  max-width: 10%;
  margin: 0 auto;
}

nav {
  display: flex;
  width: 80%;
}

.menu {
  list-style-type: none;
  display: flex;
  width: 100%;
}

.menu li {
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 20%;
  white-space: nowrap;
}
.menu li:hover {
  background-color: #26719D;
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 20px;
}

main {
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3399cc;
}

.big-box {
  display: flex;
  flex-wrap: wrap;
}
.big-box p{
  width: 50%;
  line-height: 1.5;
  font-size: large;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}

.divider {
  width: 90%;
  height: 20px;
  background-color: #3399cc;
  margin: 20px auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: relative;
}

.divider::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 5px;
  height: 25px;
  background-color: #26719D;
}

.divider::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 5px;
  background-color: #26719D;
}

.divider::after {
  right: -5px;

}

.divider::before {
  bottom: -5px;
}

section {
  margin-top: 3em;
  margin-left: 5em;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
}

section img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: box-shadow 0.3s ease;
  border: 3px solid #3399cc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

section div {
  padding: 20px;
  color: #333;
}

.invitation-banner {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.invitation-banner:hover{
  opacity: 0.7;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #3399cc;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.sm-logos img {
  width: 30px;
  height: auto;
}
.logo-section {
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 30px;
}

.logo-section a img {
  width: 30px;
  height: 30px;
  padding-left: 3em;
}

/* footer{
  background-color:var(#fff);
  padding: 25px 50px;
}

footer a{
  text-decoration: none;
  margin-top: 200px;
  background-color: var(--nav-background-color);
  color:  var(--nav-link-color);
}

footer a:hover{
  background-color: #26719D;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer p{
  font-size: 1.2em;
}

footer p a:hover{
  text-decoration: underline;
  font-family: Roboto, Helvetica, sans-serif;
} */

/* ---------------------job interview resources----------------------- */
.job-container {
  display: flex;
  flex-direction: column;
  background-color: #e4dfdf;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}
.job-container p{
  line-height: 1.5;
  font-size: large;
  font-weight: 500;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 20px;
}
.job-container li{
  line-height: 1.5;
  font-size: large;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  list-style: none;
}
.home-container {
  display: flex;
  flex-direction: column;
  background-color: #e4dfdf;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-left:18%;
  margin-right: 18%;
}
#team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 2em;
  margin: 0 auto;
  width: 100%;
}
#team-container-1{
  grid-row: 1;
  grid-column: 1;
  grid-gap: 4em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin: 0 auto;
  width: 70%;
}


.team-member{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 4em;
  background-color: #e4dfdf;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 5em;
}
.team-member-1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 4em;
  background-color: #e4dfdf;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 5em;
}
.team-member-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 4em;
  background-color: #e4dfdf;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 5em;
}

.team-member:nth-child(1-3) img {
  /* Styles for even team member images */
  width: 300px;
  height: 200px;
  grid-column: 1/2;
  grid-row: 1/3;
  object-fit: cover;
  transition: box-shadow 0.3s ease;
  border: 3px solid #3399cc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
div.container picture img{
  display: block;
  margin: 0 auto;
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}
div.container p{
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  width: 75%;
}


.social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.social img{
  width: 50px;
  height: 50px;
  
}
.copywrite{
  text-align: center;
}

#main-job-help{
  width: 90%;
}