body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

body h1 {
  text-align: center;
}

body main div {
  margin: 0 auto;
  width: 75%;
}

body main div h2,
body main div p {
  text-align: center;
}

header {
  background-color: #3399cc;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  background-color: white;
  border-radius: 100%;
  border: 2px solid black;
  padding: 1px;
}

nav {
  display: flex;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin: 0 15px;
}
.menu li:hover {
  background-color: #26719D;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.menu a {
  text-decoration: none;
  color: #fff;
}

main {
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3399cc;
}

.big-box {
  display: flex;
  flex-wrap: wrap;
}
.big-box p{
  width: 50%;
  line-height: 1.5;
  font-size: large;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}

.divider {
  width: 100%;
  height: 20px;
  background-color: #3399cc;
  margin: 20px auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: relative;
}

.divider::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 5px;
  height: 25px;
  background-color: #26719D;
}

.divider::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 5px;
  background-color: #26719D;
}

.divider::after {
  right: -5px;

}

.divider::before {
  bottom: -5px;
}

section {
  margin-top: 3em;
  margin-left: 5em;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
}

section img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: box-shadow 0.3s ease;
  border: 3px solid #3399cc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

section img:hover {
  opacity: 0.7;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

section div {
  flex-grow: 1;
  padding: 20px;
  color: #333;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}

.invitation-banner {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.invitation-banner:hover{
  opacity: 0.7;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #3399cc;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.sm-logos img {
  width: 30px;
  height: auto;
}

/* footer{
  background-color:var(#fff);
  padding: 25px 50px;
}

footer a{
  text-decoration: none;
  margin-top: 200px;
  background-color: var(--nav-background-color);
  color:  var(--nav-link-color);
}

footer a:hover{
  background-color: #26719D;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer p{
  font-size: 1.2em;
}

footer p a:hover{
  text-decoration: underline;
  font-family: Roboto, Helvetica, sans-serif;
} */